<div class="span3">
	<div class="sidebar-nav">
		<div class="nav-header" data-toggle="collapse"
			data-target="#dashboard-menu">
			<i class="icon-dashboard"></i>Dashboard
		</div>
		<ul id="dashboard-menu" class="nav nav-list collapse in">
			<li class="active"><a href="users.html">Sample List</a></li>
			<li><a href="user.html">Sample Item</a></li>
			<li><a href="gallery.html">Gallery</a></li>

		</ul>
		<div class="nav-header" data-toggle="collapse"
			data-target="#accounts-menu">
			<i class="icon-briefcase"></i>Account<span class="label label-info">+10</span>
		</div>
		<ul id="accounts-menu" class="nav nav-list collapse in">
			<li><a href="${basePath.contextPath}/templates/sign-in.html">Sign
					In</a></li>
			<li><a href="${basePath.contextPath}/templates/sign-up.html">Sign
					Up</a></li>
			<li><a href="reset-password.html">Reset Password</a></li>
		</ul>
	</div>
</div>